<% include("./partials/header.ejs") %> 

<form class="form" id="form">
    <h1>Summary</h1>
    <input type="text" placeholder="input a task">
    <input type="boolean" placeholder="enter true or false">
    <input type="button" placeholder="submit" value="add">

</form>


<% include("./partials/footer.ejs") %> 
